@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.navbar-brand h1{
  margin: 0;
  font-weight: 700;
  color: #000080;
}

.body-container-div{
  height: 100vh;
  background-image: url(bg-pic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}

.input-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-area *{
  margin: 20px;
}

.btn{
  width: 40%;
}

.userImg{
  height: 300px;
}